html,
body {
    height: 100%;
    margin: 0 auto;
    font-size: 14pt;
}

#header {
    background-color: #7da5b2;
    color: #ffffff;
    height: 32px;
    width: 100%;
}

#side {
    background-color: #86b259;
    float: left;
    width: 180px;
    height: 100%;
    margin: 0px auto;
}

#main {
    width: 100%;
    height: auto;
}

#tea {
    text-align: center;
}

#aboutMaster {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right: 100px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#aboutMusic {
    text-align: center;
    width: 100%;
    height: 100%;
}

#muscleBeach {
    text-align: center;
}

#footer {
    background-color: #7da5b2;
    clear: both;
    height: 32px;
    width: 100%;
    margin: 0px auto;
}